@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.App {
  text-align: center;
}
body * {
  font-family: "Comic Neue", cursive;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
th, td {
  text-align: left;
}
th {
  font-size: 16px;
}

td {
  font-size: 14px;
}
.card-title {
  text-align: left
}
.form-label {
  font-size:14px;
  text-align: left;
  display: block;
  font-weight: bold;
}
.form-control {
  font-size:14px;
}
.pull-right {
  float: right;
}
.mr1 {
  margin-right:5px
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
